@{
	ViewData["Title"] = "Emprestimos de Livros/CDs/DVDs";
	var listaEmprestado = ViewBag.Emprestado;
}
<h1>Lista de Item Emprestado!</h1>
<table class="table">
    <tr>
        <td>Id</td>      
        <td>Nome</td>
        <td>Tipo</td>
        <td>Status</td>
        <td>Ultima atualização</td>
     
        
    </tr>
    @{
        foreach (var c in listaEmprestado)
        {
            <tr>
                <td>@c.Id</td>               
                <td>@c.Nome</td>
                <td>@c.Tipo</td>
                <td>@c.Status</td>
                <td>@c.UltimaAtualizacao</td>

            </tr>
        }
    }